*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    font-family: "Roboto", sans-serif;
}

#title {
    color: #fff;
    font-size: 3em;
    padding-left: 10px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover{
    color: #b8c0ff;
}

nav {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2em;
}

.nav-item {
    cursor: pointer;
    margin-left: 1em;
}

.nav-link {
    font-weight: 600px;
}

#hero-container {
    max-width: 1000px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.hero-text {
    font-size: 4.5em;
    color: #fff;
}