@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Kawi:wght@700&display=swap");

body {
  background-color: #29212b;
  overflow: hidden;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

#home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

#menu-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #deaaff;
  padding: 10px;
  border-radius: 15px;
  background-color: #eaeaea;
  cursor: pointer;
  height: 200px;
  width: 200px;
}

#menu-container div h4 {
  font-family: "Noto Sans Kawi", sans-serif;
}

#menu-container div:hover {
  background-color: #cdb4db;
  cursor: pointer;
  padding: 13px;
}
